*{
  box-sizing: border-box;
}

/* html {
        width: 100%;
        margin: 0;
        padding: 0;
    } */

body{
  width:100vw;
  height:100%;
  margin:0px;
}

a{
  color:red;
  text-decoration: underline;
}

a:hover{
  text-decoration: none;
}

 .labyrith:hover{
  cursor:e-resize;
}

sup{

}

.mark{
  margin:0;
  text-indent: -0.4em;
}
/* page-2 */

p{
  text-indent: 2em;
}


.music{
  position: absolute;
  /* background-color: red; */
  /* width:100%; */
  display: flex;
  /* border:solid red 1px; */
  bottom:0;
  right:0;
  padding:10px;
  color:red;
}

.bottom{
  width:100px;
  position: fixed;
  background-color: red;
  /* width:100%; */
  /* display: flex; */
  /* border:solid red 1px; */
  bottom:0%;
  right:0%;
  /* padding:10px; */
  color:red;
}

.labyrith{
  position: fixed;
  right:0;
  bottom:0;
  margin:10px;
}

/* .content{
  position: fixed;
  border:red solid 2px;
  width:100%;
  height:100%;
  display: flex;
  /* margin:10px; */

.japan{
  font-size:0.85em;
  /* font-size:2em */
}

.container{
  position: absolute;
  width:44%;
  /* background-color: yellow; */
  margin:20px 30px 0 100px;
  font-family: times;
  font-size:1.2em;
  color:red;
}

.pageNumber{
  font-size:1.2em;
  color:red;
}

.poem{
  padding-left:2em;
}

.paper{
  font-family: courier;
  font-size:0.8em;
}

/* phone */
@media only screen and (max-width: 600px) {
  body {
    width: 100vw;
    margin:0;
  }

  .container {
    /* background-color: red */
    padding:25px;
    margin:0;
    position: absolute;
    left:0%;
    width:100%;
  }

}
